h1{
    background-color: green;
}
.para1{
    background-color: blue; <!-- class apply-->
}
.center{
    text-align: center;
}
#part{
    background-color:chocolate;   


div p{                  
    color: green;   
}

div  section > p{   
    color: red;
}