div{
    width: 200px;
    height: 250px;
    background-color: brown;
    border: 2px solid orange;
    overflow: scroll;
}
.tooltip{
    position: relative;
}
.tooltip .tooltip-text{
    visibility: hidden;
    width: 150px;
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.tooltip:hover .tooltip-text{

    visibility: visible;

}