.align{
    text-align: left;
    font-family: 'Bodoni Moda', serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Playfair Display', serif;
    text-indent: 50px;
    text-transform: capitalize;
    text-shadow: 3px 2px rgb(47, 44, 44);
}   
.align2{
    color:darkred;
    text-align: justify;
    font-family: 'Bodoni Moda', serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Playfair Display', serif;
}
.align3{
    text-align: center;
    color: green;
}